################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.opendb
*.db
/EnumProcessModulesSample/ConsoleApplication5/Debug
/EnumProcessModulesSample/ConsoleApplication5/MyLibrary/Debug
